<!DOCTYPE html>
<html>
<head>
    <title>Persons</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
        .w3-sidenav a {padding:20px}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body>
<a href="/" class="w3-left w3-btn w3-red">Home</a>
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        <%for (var i = page*3; i <= page*3+2; i++){%>
        <div class="w3-quarter">
            <%if(persons[i] != null){%>
            <p><a href='/person/<%=persons[i]._id%>'><img alt="picture"  src='data:image/jpg;base64,<%= persons[i].picture %>'/></a></p>
            <p>name: <%=persons[i].name%></p>
            <p>about: <%=persons[i].about%></p>
            <p>iq: <%=persons[i].iq%></p>
            <p>birth date: <%=persons[i].birthDate%></p>
            <%}%>
        </div>
        <%}%>
    </div>

    <!-- Second Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
        <%for (var i = (page)*3 + 3; i <= (page)*3+5; i++){%>
        <div class="w3-quarter">
            <%if(persons[i] != null){%>
            <p><a href='/person/<%=persons[i]._id%>'><img alt="picture"  src='data:image/jpg;base64,<%= persons[i].picture %>'/></a></p>
            <p>name: <%=persons[i].name%></p>
            <p>about: <%=persons[i].about%></p>
            <p>iq: <%=persons[i].iq%></p>
            <p>birth date: <%=persons[i].birthDate%></p>
            <%}%>
        </div>
        <%}%>
    </div>
    <%if(page <= persons.length/4-1){%>
    <a href = "/persons/<%=(Number(page) + 2)%>" class="w3-btn w3-right w3-padding-12 w3-dark-grey">Next page</a>
    <%}%>
    <%if (page > 0){%>
    <a href = "/persons/<%=(Number(page))%>" class="w3-btn  w3-left w3-padding-12 w3-dark-grey">Previous page</a>
    <%}%>
</div>
</body>
</html>